.select {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.select-label {
  margin-bottom: 4px;
}

.select-elem {
  margin: 0;
  flex: 1 0 49px;

  background-color: transparent;
  box-sizing: border-box;
  padding: 0.45em;
  /* for some reason firefox height: 27 and chrome height: 29px  */
  min-height: 49px;
  width: 100%;
  border-radius: 4px;
  font-size: 20px;
  font-size: max(20px, 1.25em);
}
