.field {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.field-label {
  display: block;
  flex: 0 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.field-input {
  display: block;
  width: 100%;
  padding: 0.5em;
  padding-right: 40px;

  font-family: inherit;
  font-size: 20px;
  font-size: max(20px, 1.25em);
  -webkit-padding: 0.5em 0;

  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.field-input:disabled {
  background-clip: padding-box;
  color: #000;
  background-color: transparent;
  border-color: #fff;
  opacity: 1;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  -webkit-text-fill-color: #000;
}

.field-input_error {
  border-color: #ff3e00;
}

.field-input:disabled.field-input_error {
  border-bottom-color: #ff3e00;
}

.field-error_hidden {
  opacity: 0;
}

.field-input-group {
  position: relative;
}

.field-clear-button {
  position: absolute;
  right: 8px;
  top: 10px;
  bottom: 10px;
  margin-bottom: 0;
  padding: 0;
}

.field-clear-button_hidden {
  display: none;
}

.field-clear-icon {
  opacity: 0.7;
}
