.App {
  padding: 16px;

  /* display: flex;
  flex-direction: column; */
}

.row {
  display: flex;
  justify-content: stretch;
  margin-bottom: 4px;
}

.column {
  flex: 1 1 0;
  margin-right: 8px;
}

.column_fixed {
  flex: 0 1 auto;
}

.column_bottom {
  align-self: flex-end;
}

.column > * {
  flex: 0 0 auto;
}

.column:last-child {
  margin-right: 0;
}

.hidden {
  display: none;
}

.App-feedback {
  position: fixed;
  bottom: 16px;
  left: 16px;
  color: #555;
}

.App-feedback > a {
  color: #555;
}

.App-feedback > a:focus {
  color: #222;
}
