.App {
  padding: 16px;
}

.row {
  display: flex;
  justify-content: stretch;
}

.column {
  flex: 1 1 0;
  margin-right: 8px;
}

.column_fixed {
  flex: 0 1 auto;
}

.column_bottom {
  align-self: flex-end;
}

.column > * {
  flex: 0 0 auto;
}

.column:last-child {
  margin-right: 0;
}

.hidden {
  display: none;
}
